<mat-chip-grid #taglist>
  <mat-chip-option
    *ngFor="let Tag of tags"
    [selectable]="selectable"
    [removable]="removable"
    (removed)="remove(Tag)"
  >
    {{ Tag }} <mat-icon matChipRemove *ngIf="removable">cancel </mat-icon>
  </mat-chip-option>
  <input
    placeholder="Add Tags"
    [matChipInputFor]="taglist"
    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
    (matChipInputTokenEnd)="add($event)"
  />
  @if(errorMessage){
  <span class="error-message">{{ errorMessage }}</span>
  }
</mat-chip-grid>
