<div class="auth-container">
  <form
    nz-form
    [ngClass]="formType"
    [formGroup]="authForm"
    (ngSubmit)="submitForm()"
  >
    <div class="header">
      <h2>{{ formType === "login" ? "Log In" : "Sign Up" }}</h2>
      <h4>
        {{
          formType === "login"
            ? "Welcome Back!"
            : "Welcome To Originator Tracker"
        }}
      </h4>
    </div>

    <nz-form-item class="item">
      <mat-label class="label">Email</mat-label>
      <nz-input-group class="input" nzPrefixIcon="mail">
        <input
          nz-input
          type="text"
          formControlName="email"
          placeholder="Email"
        />
      </nz-input-group>
      <mat-error>{{ getErrorMessage("email") }}</mat-error>
    </nz-form-item>

    <nz-form-item class="item" *ngIf="formType === 'signup'">
      <mat-label class="label">User Name</mat-label>
      <nz-input-group nzPrefixIcon="user">
        <input
          nz-input
          type="text"
          formControlName="name"
          placeholder="User name"
        />
      </nz-input-group>
      <mat-error>{{ getErrorMessage("name") }}</mat-error>
    </nz-form-item>

    <nz-form-item class="item">
      <mat-label class="label">Password</mat-label>
      <nz-input-group class="input" nzPrefixIcon="eye">
        <input
          nz-input
          type="text"
          formControlName="password"
          placeholder="Password"
        />
      </nz-input-group>
      <mat-error>{{ getErrorMessage("password") }}</mat-error>
    </nz-form-item>

    <nz-form-item class="item" *ngIf="formType === 'signup'">
      <mat-label class="label">Confirm Password</mat-label>
      <nz-input-group class="input" nzPrefixIcon="eye">
        <input
          nz-input
          type="text"
          formControlName="confirmPassword"
          placeholder="confirm Password"
        />
      </nz-input-group>
      <mat-error>{{ getErrorMessage("confirmPassword") }}</mat-error>
    </nz-form-item>

    @if(errorMessage){
    <mat-error>
      {{ errorMessage }}
    </mat-error>
    }

    <div nz-row class="login-form-margin" *ngIf="formType === 'login'">
      <div nz-col [nzSpan]="12">
        <label nz-checkbox>
          <span>Remember me</span>
        </label>
      </div>
      <div nz-col [nzSpan]="12">
        <a class="login-form-forgot">Forgot password</a>
      </div>
    </div>

    <div class="btn">
      <button nz-button>
        {{ formType === "login" ? "Login" : "Sign Up" }}
      </button>
    </div>

    <div class="with">
      <div class="divider">
        <span>Or {{ formType === "login" ? "Log In" : "Sign Up" }} With</span>
      </div>

      <div class="social-login-icons">
        <button class="icon">
          <nz-icon nzType="google-circle" nzTheme="fill" />
          Google
        </button>
        <button class="icon">
          <nz-icon nzType="facebook" nzTheme="fill" />
          Facebook
        </button>
      </div>
    </div>
  </form>

  <div class="switch-auth">
    <span>
      {{
        formType === "login"
          ? "Don't have an account?"
          : "Already have an account?"
      }}
    </span>
    <button
      (click)="formType === 'login' ? navigateToSignup() : navigateToLogin()"
    >
      {{ formType === "login" ? "SignUp" : "Login" }}
    </button>
  </div>
</div>
