<mat-sidenav-container class="home-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <app-side-nav />
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <header class="header">
      <div class="header-actions">
        <div class="search-bar">
          <input matInput type="text" placeholder="Search" />
        </div>
        <div class="header-actions-right">
          <span class="date">{{ today | date : "EEEE, MMM d, y" }}</span>
          <mat-icon matBadge="•" matBadgeColor="warn" matBadgeSize="small"
            >notifications</mat-icon
          >
          <button mat-icon-button>
            <mat-icon>account_circle</mat-icon>
          </button>
        </div>
      </div>
      <!-- <h1>{{ user.name + "Tasks" }}</h1> -->
      <h1>My Tasks</h1>
    </header>

    <section class="tasks">
      <div class="task-header">
        <span>Recent Tasks</span>
        <button mat-button class="create-task-btn" (click)="createTask()">
          <mat-icon>add_circle</mat-icon>
          Create Task
        </button>
      </div>

      <div class="task-grid">
        <app-alltasks />
      </div>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
<div #createTaskModal *ngIf="isModalOpen">
  <app-create-task (closeEvent)="closeTaskModal()"></app-create-task>
</div>
