<section>
  <div class="left-section">
    <div class="logo-container">
      <img
        src="https://s3-alpha-sig.figma.com/img/0f0e/5f75/8fb893985e673d3bd6a7767abe601284?Expires=1742774400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=Fvq27DpHEJk2z7huGTHNaa0LyMHxfLR78au2rm9uz-8GPgQYPHwHbjB7qursEyLm2m~rtA1cTAa7mb7RswCJ~zfKMrspEXgmhfn3mdt7p4xHqY-8895N~sguR3OBtwsfpByuYcGIsHhiNSDu8y6dn4MWRvAPG0yhK9~sFvYs7Sa2q9Mvo3WiJWCXkl1LvDlQz7~8BJ-q8ug-vheoUaHLzdKw7uXrXUNC5cnHw~1UGr~9erJJnP9vf7uWzNWIfwKObwis2uMmOZ6RUbWEyDMRzlOxmrUGkIx4NVfjPickLcw6zgMlB1sWxNVzF7h8P1t-1HMzvoidOs37m9isbMdiaQ__"
        alt="logo"
      />
    </div>
    <router-outlet />
  </div>
  <div class="right-section"></div>
</section>
