<section>
  <div class="left-section">
    <div class="logo-container">
      <img
        src="https://s3-alpha-sig.figma.com/img/e5d6/3a0d/fe826fc09489fb7dbed67ca3b15795aa?Expires=1742774400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=b3zDDd~zFMWzoBGX~JIVze0e2RCilxCucHnYIOGg0FLK42VJOsfpBGbAM2whziOwkj2dvDXO1ON4G0dkvF9Uk6WrMyEklCxp357tjjphqoIwdGBUapjeJwjnQExA3HIAW7y66pJ-eWn2zauAkaAlu7HfPyth1ireDB4Yez~vl1Z6L1LnJ55uxxeubkquxQ2kVn--lqEXBxvD64pzcLlXkQKjVeRs7dV7K1O-oW4tdXa0c8ZVwNP5XGrDQyT~VWMKGJJ5RP~6l3ll8cQWyczZKdmuLOtljaynt9udfutDb~gJRhWX9jQlC~Jb1NqYwimPzu1YUK7TotCRyXyAEAizqg__"
        alt="logo"
      />
    </div>
    <router-outlet />
  </div>
  <div class="right-section">
    <img src="#" alt="photo" />
  </div>
</section>
