<nz-layout class="home">
  <nz-sider
    [nzWidth]="250"
    [nzCollapsedWidth]="110"
    [(nzCollapsed)]="isCollapsed"
    [nzCollapsible]="true"
    style="height: 100vh; overflow: none"
  >
    <app-side-nav [isCollapsed]="isCollapsed" />
  </nz-sider>
  <nz-layout class="main">
    <nz-header>
      <div class="search-bar">
        <input nz-input type="text" placeholder="Search" />
        <!-- <nz-icon nzType="search" nzTheme="outline" /> -->
      </div>

      <div class="header-actions-right">
        <div class="date" nz-dropdown nzTrigger="click">
          <nz-icon class="icon" nzType="calendar" nzTheme="outline"> </nz-icon>
        </div>

        <span class="date">{{ date | date : "dMMM, y" }}</span>
        <nz-icon class="icon" nzType="bell" nzTheme="fill" nzTheme="fill" />

        <button nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
          <nz-avatar nzSize="large" nzIcon="user"></nz-avatar>
        </button>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>
              <nz-icon nzType="setting"></nz-icon>
              <span> Settings</span>
            </li>
            <li nz-menu-item (click)="logout()">
              <nz-icon nzType="logout"></nz-icon>
              <span> Logout</span>
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </nz-header>

    <nz-content>
      <app-board />
      <div #createTaskModal *ngIf="isModalOpen">
        <app-create-task (closeEvent)="closeTaskModal()"></app-create-task>
      </div>

      <div *ngIf="isSelectedOpen">
        <app-task-details [taskDetailes]="selectedTask"></app-task-details>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
