<nz-card class="task-card">
  <div class="task-header">
    <h3>{{ task.title }}</h3>
    <div class="menu">
      <button nz-button nzType="text">
        <nz-icon class="icon" nzType="share-alt" nzTheme="outline" />
      </button>

      <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
        <i class="icon" nz-icon nzType="more" nzTheme="outline"></i>
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="changeStatus('in-progress')">
            In Progress
          </li>
          <li nz-menu-item (click)="changeStatus('Completed')">Completed</li>

          <li nz-menu-item (click)="changeStatus('todo')">Todo</li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </div>
  <div class="content">
    <p>
      {{ task.description }}
      <a *ngIf="task.description.length >= 50" href="#">See More</a>
    </p>
  </div>

  <div class="task-info">
    <nz-avatar-group>
      <nz-avatar
        nzSrc="https://randomuser.me/api/portraits/women/1.jpg"
      ></nz-avatar>
      <nz-avatar
        nzSrc="https://randomuser.me/api/portraits/men/2.jpg"
      ></nz-avatar>
      <nz-avatar
        nzSrc="https://randomuser.me/api/portraits/women/3.jpg"
      ></nz-avatar>
      <nz-avatar nzText="+2"></nz-avatar>
    </nz-avatar-group>

    <button nz-button nzType="primary" class="invite-btn">
      <nz-icon
        nzType="plus-circle"
        nzTheme="twotone"
        nzTwotoneColor="#000000"
      />

      Invite
    </button>
  </div>

  <nz-progress
    [nzPercent]="getProgressValue()"
    [nzStrokeColor]="'#d32f2f'"
  ></nz-progress>

  <div class="task-tags">
    <nz-tag class="tag" *ngFor="let tag of task.tags" nzColor="#FFF1F0">{{
      tag
    }}</nz-tag>
    <!-- <nz-tag nzColor="volcano">UI</nz-tag>
    <nz-tag nzColor="magenta">UX</nz-tag>
    <nz-tag nzColor="gold">FINISH</nz-tag> -->
  </div>
</nz-card>
