mat-card {
  max-width: 270px;
  height: 300px;
  background-color: #d9d9d9;
  border-radius: 5%;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
mat-card:hover {
  transform: translateY(-5px);
}
mat-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

mat-card-title {
  font-size: 1.8rem;
}
mat-card-subtitle {
  color: orangered;
}
.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.share {
  background-color: #d9d9d9;
  border: none;
  cursor: pointer;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  flex-grow: 1;
}

.progress {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem;
}

mat-card-footer {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.control-btn {
  background-color: #d9d9d9;
  border: none;
  cursor: pointer;
}

mat-chip {
  background-color: #b6b6b6;
}
mat-chip:hover {
  background-color: #9a9a9a;
}
