<nz-modal
  [(nzVisible)]="isVisible"
  class="card"
  [nzFooter]="null"
  nzWidth="70rem"
  [nzClosable]="false"
  [nzStyle]="{
    height: '60rem',
    'border-radius': '10px',
    'background-color': '#f8f9fa'
  }"
>
  <div *nzModalTitle class="header">
    <div class="board-container">
      <div class="board-header">
        <h2>
          {{ isEditing === true ? "Edit Your tracker " : "Create New Tracker" }}
        </h2>
        <div>
          <button nz-button nzType="text">
            <nz-icon
              class="icon"
              nzType="share-alt"
              nzTheme="outline"
            ></nz-icon>
          </button>
          <button (click)="handleCancel()" nz-button nzType="text">
            <nz-icon nzType="close-circle" nzTheme="outline" />
          </button>
        </div>
      </div>
    </div>
    <div class="image-container">
      <img
        src="https://s3-alpha-sig.figma.com/img/2107/44f0/a0cbce5cefd93c20a873290a079d9dee?Expires=1742169600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=SYLoSBwM7hjNeSTGN0kyXjH668uZYlsBWBpKJmDv8tbnviiv-J-5KpvUhDf~pfVGws8ImLOV-9H~NCycsH~Z0M95nNmSmlDWxoWz8BWzIbphFwoqj2Epo3yXrIga8Rhhxqd-iIDTzstODcpe-1owckPS6jzemwr2wTSBtClQSonjsIKZEn3xFHjWAnp8ksPWLA7uJs9zxd~aWXivtMeK2bSNfW5IxdAEmqGRa56ZW0qAfos-V2GgkjeXZgjozi1mrpPWVh6vEKgr7LiaoR8wy7cGzih3YSbQHoZvNDNSXVWd1L5X-ZCjmh3EshT7TOKOoq9t5p-7C6iHt1sqRBh~tg__"
        alt="image"
      />
    </div>
  </div>
  <ng-container *nzModalContent>
    <form class="form" nz-form [formGroup]="taskForm" (ngSubmit)="createTask()">
      <nz-form-item class="item">
        <label><nz-icon nzType="edit" nzTheme="outline" /> Title:</label>
        <input nz-input formControlName="title" placeholder="Add Title" />
      </nz-form-item>

      <nz-form-item class="item">
        <label
          ><nz-icon nzType="align-left" nzTheme="outline" />Description:</label
        >

        <textarea
          nz-input
          formControlName="description"
          placeholder="Description"
        ></textarea>
      </nz-form-item>

      <nz-form-item class="item date">
        <label><nz-icon nzType="calendar" nzTheme="outline" /> Date:</label>
        <nz-date-picker class="input" formControlName="date"></nz-date-picker>
      </nz-form-item>

      <nz-form-item class="item">
        <label><nz-icon nzType="tag" nzTheme="outline" /> Tags:</label>
        <app-task-tags [tags]="tags" (tagsUpdated)="updateTags($event)" />
      </nz-form-item>

      @if(errorMessage){
      <span class="error-message">{{ errorMessage }}</span>
      }

      <div class="btn-container">
        <button nz-button nzType="primary" class="btn">Add Tracker</button>
      </div>
    </form>
  </ng-container>
</nz-modal>
