<div class="logo">
  <img
    class="main"
    *ngIf="!isCollapsed"
    src="originators-todos.png"
    alt="Full Logo"
  />
  <img class="sub" *ngIf="isCollapsed" src="logo.png" alt="Collapsed Logo" />
</div>

<div class="content">
  <div nz-menu class="main-menu-item active">
    <div class="btn-container">
      <span nz-icon nzType="file-text"></span>
      <button nz-button *ngIf="!isCollapsed">My Trackers</button>
    </div>
    <div class="sub-menu" *ngIf="!isCollapsed">
      <a> To Do</a>
      <a>In Progress</a>
      <a> Done</a>
    </div>
  </div>
  <ul nz-menu nzMode="inline" class="sidebar-menu">
    <li nz-menu-item>
      <nz-icon nzType="user"></nz-icon>
      <span>Profile</span>
    </li>

    <li nz-menu-item>
      <nz-icon nzType="team"></nz-icon>
      <span *ngIf="!isCollapsed">Friends</span>
    </li>

    <li nz-menu-item>
      <nz-icon nzType="delete"></nz-icon>
      <span *ngIf="!isCollapsed">Trash</span>
    </li>

    <li nz-menu-item>
      <nz-icon nzType="setting"></nz-icon>
      <span *ngIf="!isCollapsed">Settings</span>
    </li>
  </ul>
  <!-- <div class="logout">
    <span nz-icon nzType="logout"></span>
    <button nz-button (click)="logout()">Log Out</button>
  </div> -->
</div>
