@import "../../../../styles.less";

.logo {
  width: auto;
  height: auto;
  text-align: center;
  .main {
    width: 20rem;
    height: 15rem;
    transition: all 0.3s ease-in-out;
  }

  .sub {
    width: 8rem;
    height: 8rem;
    transition: all 0.3s ease-in-out;
  }
}
.content {
  background: @background-color-secondary;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-left: 3rem;
  padding-right: 1.7rem;
  height: 100%;
}
.main-menu-item {
  background: @background-color-secondary;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .sub-menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    a {
      color: @text-color;
      font-size: 1.4rem;
    }
  }
}
.btn-container {
  height: 4rem;
  width: auto;
  display: flex;
  flex-direction: row;
  background-color: @primary-color;
  text-align: center;
  color: white;
  border-radius: 0.8rem;
  align-items: center;
  justify-content: center;
  button {
    background-color: @primary-color;
    border: none;
    color: white;
  }
}
.sidebar-menu {
  background: @background-color-secondary;
}

@media (min-width: 1600px) {
  .logo .main {
    width: 25rem;
    height: 25rem;
  }

  .logo .sub {
    width: 10rem;
    height: 10rem;
  }

  .content {
    padding-left: 4rem;
    padding-right: 3rem;
    gap: 9rem;
  }

  .btn-container {
    height: 5rem;
    font-size: 2.2rem;
  }
  .sub-menu {
    margin-top: 2rem;
    gap: 4rem;
  }

  .main-menu-item .sub-menu a {
    font-size: 2.2rem;
  }
  .sidebar-menu {
    font-size: 2.2rem;
  }
}

@media (max-width: 1024px) {
  .logo .main {
    width: 15rem;
    height: 12rem;
  }

  .logo .sub {
    width: 6rem;
    height: 6rem;
  }

  .content {
    padding-left: 2rem;
    padding-right: 1rem;
  }

  .btn-container {
    height: 3.5rem;
    font-size: 1.2rem;
  }

  .main-menu-item .sub-menu a {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .logo .main {
    width: 12rem;
    height: 10rem;
  }

  .logo .sub {
    width: 5rem;
    height: 5rem;
  }

  .content {
    padding-left: 1rem;
    padding-right: 0.5rem;
  }

  .btn-container {
    height: 3rem;
    font-size: 1rem;
  }

  .main-menu-item .sub-menu a {
    font-size: 1rem;
  }
}
